.button-i2601231166-ogJaat {
  color: #ffffff;
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}
.button-i2601231266-r3eGLu {
  color: #ffffff;
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}
.button-i2601231366-9ex2R5 {
  color: #ffffff;
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}
.button-i2601231466-hdozzc {
  color: #ffffff;
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}
.i26012311-66600 {
  height: 40px;
  margin-right: 51px;
  margin-top: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  width: 156px;
}
.i26012312-66600 {
  height: 40px;
  margin-right: 51px;
  margin-top: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  width: 156px;
}
.i26012313-66600 {
  height: 40px;
  margin-right: 51px;
  margin-top: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  width: 156px;
}
.i26012314-66600 {
  height: 40px;
  margin-right: 51px;
  margin-top: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  width: 156px;
}
.master-button-4KxvdI {
  background-color: #cd424a;
  border-radius: 8px;
  height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
}
.master-button-8XnJeZ {
  background-color: #cd424a;
  border-radius: 8px;
  height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
}
.master-button-UZkVkK {
  background-color: #cd424a;
  border-radius: 8px;
  height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
}
.master-button-Vzws9n {
  background-color: #cd424a;
  border-radius: 8px;
  height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
}
